/* style.css */
body {
  background-color: rgb(0, 0, 0);
  
}

h1 {
  color: white;
  text-align: left;
  font-family: 'Gill Sans MT';

a.one:hover {}
a.one:hover {font-size:200%;}
a.one:hover {color:rgb(255, 255, 255) ;}
a.one:hover {font-family: monospace;}
}


h2   {

color: rgb(255, 255, 255);

}



.Frank img {
    border: 8px solid rgb(255, 238, 238);   
    padding: 8px;              
    border-radius: 8px;        
}


.one {

color:black;

}



p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

p {

color: rgb(255, 255, 255);
font-size: 20px;

}

.two {

  color: black;
}


img {

  width: 300px;
  height: 600px;
  align-items: center;
  }


  .three {
    color: black;
}
.four {
    color: black;
}

.five {
    color: black;
}

.six
.seven
 {
    color: black;
}


.eight{

  color: black;
}

.nine{
  color: black;
}


.ten{

  color: black;
}


.eleven{

color: black;

}

.twelve{

  color: black;
}

.thirteen{
  color: black;



}



.fourteen{

  color: black;
}
.p{

  color: white;
}

